@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
html,body
{
    height:100%;
    margin:0;
    font-family: "Noto Sans JP", sans-serif;
}

#boardContainer
{
    position:relative;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board
{
    border:5px solid rgb(255, 255, 255);
    background-color: black;
}

#TSpinH
{
    color:#ac6ca2;
    opacity:0;
}

.pointMessage
{
    user-select: none;
    color:white;
    font-size: 24px;
}

#ClearWord
{
    opacity: 0;
}

.bgGradient {
    background: linear-gradient(175deg, #000000, #000000, #9f9f9f);
    background-size: 600% 600%;

    -webkit-animation: bwGradient 59s ease infinite;
    -moz-animation: bwGradient 59s ease infinite;
    animation: bwGradient 59s ease infinite;
}

@-webkit-keyframes bwGradient {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-moz-keyframes bwGradient {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@keyframes bwGradient {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

#PC
{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PCSpan
{
    position:absolute;
    font-size: xx-large;
    color:white;
    background: linear-gradient(to right, orange 20%, #c16f04 30%, #d39b03 70%, orange 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 7s ease-in-out infinite;
    transition:all .5s;
    transform: scale(0);
}

@keyframes textShine {
    to {
        background-position: 200%;
    }
}